@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #00394d;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;

  background-image: url('../../../public/backgroundImages/landing-page.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}