.Group {
    background-image: url('../../../public/backgroundImages/landing-page.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100%;
    color: black;
}

.About {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;

    li {
        list-style: none;
    }

    @media (min-width: 500px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0;
        padding-top: 1%;
    }
}
