.About {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;

    li {
        list-style: none;
    }

    @media (min-width: 500px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0;
        padding-top: 1%;
    }
}
