.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* should be off centered */
    height: 60vh;
    width: 60vw;
    text-align: center;

    button {
        height: 10vh;
        width: 20vw;
    }

    a {
        display: flex;
        flex-direction: column;
        text-decoration: none;

    }

    img {
        width: 20vw;
        padding: 10%;
        padding-top: 2vh;
    }
}

.line {
    border-left: 3px solid white;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    font-size: 7vw;
    margin: 0;

    p {
        margin: 0;
    }

    div {
        display: flex;
        flex-direction: row;

        p {
            font-size: 4vw;
            margin-top: 3vh;
        }
    }
}

@media (max-width: 1024px) {
    .Home {
        margin-top: 12vh;
    }
    
    .line {
        height: 23vh;
    }

    p {
        font-size: 11vw;
    }
}

@media (max-width: 992px) {
    .Home {
        margin-top: 12vh;
    }
    
    .line {
        height: 23vh;
    }

    p {
        font-size: 11vw;
    }
}

@media (max-width: 600px) {
    .Home {
        margin-top: 10vh;
        margin-left: 8vw;
    }
    
    .line {
        height: 20vh;
    }

    p {
        font-size: 9vw;
    }
}

