.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 90vh;

    border: solid 3px yellow;
    
    p {
        width: 80%;
        margin-top: 10%;
        margin-bottom: 50%;
        text-align: center;
    }

    button {
        background-color: green;
        color: yellow;
        height: 10vh;
        width: 20vw;
        border-radius: 50%;
        outline: none;
    }

    a {
        display: flex;
        flex-direction: column;
        align-items: center;

        border: solid 3px red;

    }

    img {
        width: 40vw;
        padding: 10%;
    }

    @media (min-width: 500px) {
        p {
            text-align: center;
            margin-bottom: 25%;
        }
    }
}