.Player {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95vw;
    height: 70vh;

    /* border: solid 5px blue; */
}

.playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    width: 35vw;

    /* border: solid 5px green; */

    iframe {
        border-radius: 0.50rem;
        filter: drop-shadow(0 0 0.50rem #1db9548f);
        margin: 10px;
        width: 35vw;
        height: 60vh;
    }

}

.FormOne, .FormTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding doesn't work either */
    /* padding: 2em 0; */
    /* NOT EVEN. MAIN BUTTON IS MESSING THIS UP */
    /* border: solid 5px yellow; */

    label {
        margin: 5px;
        /* border: solid 5px pink; */

        input, select {
            background-color: #191414;
            color: gray;
            font-size: 14px;
            line-height: 1;
            border-radius: 500px;
            padding: 4px 8px 4px;
            transition-duration: .3s;
            border-width: 0;
            letter-spacing: 2px;
            text-transform: uppercase;
            white-space: normal;
            margin-top: 2px;

        }

        select {
            cursor: pointer;
        }
    }

    /* all buttons */
    button {
        background-color: #1DB954;
        color: #191414;
        font-size: 14px;
        line-height: 1;
        border-radius: 500px;
        padding: 5px 20px 5px;
        transition-duration: .3s;
        border-width: 0;
        letter-spacing: 2px;
        text-transform: uppercase;
        white-space: normal;
        margin-top: 10px;
        cursor: pointer;
    }

    button:hover {
        background-color: #26f16d;
    }
}

.columnOne {
    /* border: solid 5px green; */
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columnThree {
    /* border: solid 5px green; */
    width: 25%;
}

.MainButton {
    background-color: #1DB954;
    color: #191414;
    font-size: 14px;
    line-height: 1;
    /* line-height: 75%; */
    border-radius: 500px;
    /* padding: 18px 48px 16px; */
    /* padding: 1.5rem 2rem; */
    padding: 6% 12%;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    /* white-space: normal; */

    /* THIS */
    white-space: nowrap;
    filter: drop-shadow(0 0 0.50rem #191414);
    cursor: pointer;
}

.MainButton:hover {
    background-color: #26f16d;
}


@media (max-width: 640px) {
    .Player {
        flex-direction: column;

        iframe {
            width: 80vw;
            height: 40vh;    
        }

        /* all buttons */
        button {
            margin-top: 0px;
            /* border: solid 2px pink; */
        }
    
    }

    .columnOne, .columnThree {
        width: 90vw;
        height: 30vh;
        /* border: solid 2px orange; */
    }

    .playlist {
        width: 90vw;
        height: 40vh;
        /* background-color:indigo; */

        /* THIS ISNT WORKING */
    }

    .FormOne {
        flex-direction: row;
        justify-content: center;
        padding: 5px 0px;

        align-items: center;

        /* border: solid 2px yellow; */

        input, select {
            width: 25vw;
            /* font-size: 8px;
            line-height: .5;
            letter-spacing: 1px; */
        }
    }

    .FormTwo {
        flex-direction: row;
        justify-content: center;
        padding: 5px 0px;

        /* border: solid 2px yellow; */

        input, select {
            width: 45vw;
            /* font-size: 8px;
            line-height: .5;
            letter-spacing: 1px; */
        }
    }

    .MainButton {
        padding: 4% 7%;
        margin: 15px 0px 5px;
    }
}

